@{
    ViewData["Title"] = "Order Summary";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    @if (Model.CartItems != null && Model.CartItems.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>
                            <img src="@item.Product.ImageUrl" alt="@item.Product.Name" class="product-image">
                            <span style="font-weight: bold; font-size: 1.1em; color: #0066cc;">@item.Product.Name</span>
                        </td>
                        <td>R @item.Product.Price</td>
                        <td>@item.Product.Category</td>
                        <td>
                            @item.Quantity
                        </td>
                       
                    </tr>
                }
                @{
                    decimal totalAmount = 0;
                    foreach (var item in Model.CartItems)
                    {
                        totalAmount += (decimal)(item.Product.Price * item.Quantity);
                    }
                }

                <tr>
                    <td colspan="4"><strong><span style="font-size: 1.5em; color: green;">Total Amount:</span></strong></td>
                    <td><strong><span style="font-size: 1.5em; color: green;">R @totalAmount</span></strong></td>
                </tr>
            </tbody>
        </table>

    }
    else
    {
        <p>Your cart is empty.</p>
    }
</div>


